h1#attract {
    margin-top: 1.5rem;
    font-family: 'Noir';
    font-size: 3rem;
    text-align: center;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.card {
    max-width: 350px;
    height: 250px;
    border: 2px solid #00f;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    transition: box-shadow .1s ease;
}

.card:hover {
    box-shadow: 5px 5px 5px #00f;
    transition: box-shadow .1s ease;
}

.card h1 {
    font-size: 2rem;
}

.card a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #00f;;
}

.card a:hover {
    color: #00f;
}