main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

main h1 {
    font-family: 'Noir';
    font-size: 3rem;
}

main form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

main form .credentials {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

}

.remember {
    margin: 1rem 0;
}